body {
	width: 100%;
	margin: 0px;
}

.header {
	margin: 0px;
	height: 120px;
	background-color: rgba(124, 244, 252, 69);
	border-bottom: 2px double #000000;
}

h1 {
	text-align: center;
	margin-top: 0px;
	font-family: Arial;
}

.main {
	height: 694px;
	background-color: rgba(192, 192, 192, 30);
}

.menu-wrap {
	float: left;
	width: 15%;
	padding: 10px;
}

.menu {
	height: 250px;
	background-color: #abedf7;
	border: solid #d27de3 2px;
	border-radius: 5px;
	box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.15);
}

.content-wrap {
	width: 65%;
	height: 639px;
	float: left;
	padding: 10px;
}

.content {
	background-color: #7f98eb;
	height: 100%;
	padding: 15px;
	font-size: 15px;
	font-family: Arial;
	border: solid #848484 2px;
	border-radius: 5px;
	box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.15);
}

.block-wrap {
	float: right;
	width: 15%;
	height: 674px;
	padding: 10px;
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
}

.block {
	height: 200px;
	padding: 5px;
	border: solid #abedf7 2px;
	border-radius: 5px;
	background-color: #d5a7f2;
	box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.15);
}

.footer {
	height: 50px;
	background-color: rgba(173, 255, 206, 69);
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}